name: Deploy bot
on:
    workflow_dispatch:
    release:
        types: [published]
    push:
        branches: [main]
jobs:
    deploy:
        name: Deploy on Fly
        runs-on: ubuntu-latest
        concurrency: deploy-group

        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: Setup Node.JS
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  node-version-file: package.json
                  cache: npm

            - name: Set version
              run: npm pkg set version="$(date +"%y.%m.%d")-$(git rev-parse --short HEAD)"

            - name: Setup flyctl
              uses: superfly/flyctl-actions/setup-flyctl@63da3ecc5e2793b98a3f2519b3d75d4f4c11cec2

            - name: Deploy
              run: flyctl deploy
              env:
                  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
